@media (min-width: 576px){
    .container{
        max-width: 548px;
    }
}
@media (min-width: 768px){
    .container{
        max-width: 720px;
    }
}
@media (min-width: 992px){
    .container{
        max-width: 968px;
    }
}
@media (min-width: 1200px){
    .container{
        max-width: 1152px;
    }
}


/* colors */

:root{
    --primary: #EEBF00;
    --secondary: #232B38;
    --ternary: #6C6C6C;
    --danger: #FE4545;
    --pure: #FEFEFE;
    --light: #F0F0F0;
    --heaven: #FFFFFF;
    --footer:#2D333F;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid; */
}

.container{
    width: 100%;
    padding: 15px;
    margin: 0 auto;
    
}
.protfolio{
    width: 200px;
    color: black;
}
.topbar{
    background-color:var(--secondary);
    color: white;
    padding: 0.75rem 0;
}
.topbar .auth > div a{
    color: var(--pure);
    text-decoration: none;
}

.topbar .container .auth{
    display: flex;
}

.flex{
    display: flex;
}
.align-center{
    align-items:center ;
}
.justify-between{
    justify-content: space-between;
}
.topbar .container .icons a{
    margin-right: 0.6rem;
}
.topbar .container .auth .divider{
    padding: 0 1rem;
}
.topbar .container .auth >div img{
    margin-right: 0.35rem;
}


nav .top .contact h5,nav .top .time h5{
    margin-bottom: 0.25rem;
    letter-spacing: 0.044rem;
}
nav .top .contact h6,nav .top .time h6{
    margin-bottom: 0.25rem;
    letter-spacing: 0.055rem;
    font-size: 0.75rem;
    color: var(--ternary);
}
nav .top .contact img{
    margin-right: 1rem;
}
nav .top .time img{
    margin-right: 1rem;
}

.justify-center{
    justify-content: center;
}
nav .navbar a{
    text-decoration: none;
    color: var(--secondary);
    font-size: 1rem;
    padding: 1rem 1.5rem;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
nav .navbar .container .active{
    background-color:var(--primary);
    color: var(--pure);
}
 nav .navbar a:hover{
    background-color:var(--primary);
    color: black;
 }

 .magic-shadow{
     position: relative;
     background-color: var(--heaven);

 }
 .magic-shadow:after{
     content:'';
     display: block;
     width: 100%;
     height: 69px;
     background-position: center;
     background-image: url("shadow.svg");
     background-color: #ffffff;;
     background-repeat: no-repeat;
     position: absolute;
     bottom: -30px;
     z-index: -1;
 }
 marquee{
     letter-spacing: 5px;
     font-size: 1.1rem;
 }
 header.hero{
    height: 600px;
    /* background-image: linear-gradient(to right, #010204, #050b18, #0a1226, #0d1634, #151942); */
 }
 header.hero .container{
    position: relative;
 }
 header.hero .welcome span{
     font-family: monospace;
     color: var(--secondary);
     font-size: 2.5rem;
     margin-right: 1rem;
 }
 header.hero h1{
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     color: var(--secondary);
     font-size: 2.5rem;
     margin-bottom: 0.25rem;
 }
 .software-text{
     color: var(--primary);
 }
 header.hero p{
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     width: 50%;
     line-height: 1.5rem    ;
     margin-bottom: 1rem;
 }
 .btn{
     padding: 0.75rem 0.75rem;
     border-radius: 4px;
     border: none;
     line-height: 0.8rem;
     font-size: 1.2rem;
     cursor: pointer;
     transition: 0.3s all ease;
     height: 50px;
 }
 .btn-primary{
     background: var(--primary);
     color: var(--heaven);
 }
 .btn-secondary{
     background: var(--secondary);
     color: var(--heaven);
 }
 .btn-primary:hover{
     background-color: var(--heaven);
     color: var(--primary); 
 }
 .btn-secondary:hover{
    background: var(--heaven);
    color: var(--secondary);
 }
 header.hero button:first-child{
     margin-right: 0.50rem;
 }
 header.hero  .admin-image img{
     height: 500px;
     width: 400px;
 }
 header.hero  .admin-image{
     position:absolute;
     top: -120px;
     right: 40px;
 }
 /* know me section */
 .know-me-cont{
     margin-top: 20px;
    height: auto    ;
     font-size: 30px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 .know-me-cont{
     flex-direction: column;
     min-height: auto;
     background-color: var(--primary);
     margin-top: 50px;
 }
 .know-me-text{
     text-align: center;
     
 }
 .left-admin-logo-div img{
     padding:10px ;
     height: 200px;
     width: 200px;
 }
 .right-div p{
     text-align: justify;
     padding: 50px;
     font-size: 20px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 /* skills CSs */
 .grand-parent{
     width: 100%;
     height: auto;
     display: flex;
     position: relative;
     justify-content: center;
     align-items: center;
        /* background-color: yellow; */
 }
 .grand-parent h2{
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     margin-bottom: 50px;
     text-align: center;
    font-size: 3.5rem;
    position: absolute;
    top: -45px;
    padding: 50px 0;
 }
 .parent{
     padding-top:120px;
     height: auto;
     display: flex;
    flex-wrap:wrap ;
    margin-bottom: 70px;
    
 }
 .child{
     padding: 0.3rem;
     transition:all 1s ease ;
     border-radius: 20px;
    box-shadow: 0 10px 10px var(--secondary);
 }
 .child:hover{
     transform:scale(1.5);
 }
.box1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    height: auto;
    height: auto;
  
    margin-bottom: 40px;
}
.box2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  
    width: 100%;
    height: auto;
}
 .child img{
     height:200px;
     width: 200px;
 }

 /* qualification section */
 
.qualification-cont{
   
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary);
    /* background-color: var(--primary    ); */
}
.main{
    width: 70%;
    margin-bottom: 150px;
    /* max-width: 100%; */
    /* margin-top: -26px; */
}
.qualification{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    font-size: 30px;
    font-family:monospace;
    text-align: center;
    color: #F0F0F0;

}

.school-content-cont{
    display: flex;
    justify-content: space-between ;
    align-items: center;

   margin-bottom: 50px;
}
.school-text{
    background-color: blueviolet;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    display: flex;
    height: 100%;
    padding: 20px;
    width:100%;
}
.school-text li {
    font-size: 25px;
    color: #F0F0F0;
}
.college-text li{

    list-style:disc;
}
.college-text li{
    list-style:disc;
    color: #F0F0F0;
}
.college-text{
    background-color: blueviolet;
    border-radius: 25px;
    margin-left: 30px;
    display: flex;
    height: 100%;
    padding: 20px;
    width:100%;
}

.college-text {
   display: flex;
   flex-direction: column;
    font-size: 25px;
   
}
 .school-building img{
     height: 200px;
     width: 300px;
     border-radius: 25px;
 }

 /* college */
 .college-content-cont{
     display: flex;
     justify-content: space-between;
     align-items: center;
     /* background-color: var(--secondary); */
 }
 /* news letter */
 .news-letter-cont{     
     width: auto;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: var(--primary);
 }
 .left-picture{
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .left-picture img{
     height:20rem ;
     width: 20rem;
 }
.right-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.right-content h3{
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.right-content p{
    font-size: 1rem;
}
.right-box .right-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width: 80%;
    text-align: start;
    margin: 0 auto;
}
.email-input{
    position: relative;
    margin-top: 50px;
    height: 200px;
    
}

.email-input input::placeholder{
 padding-left: 30px;
    color: rgb(0, 0, 0);
    opacity: 0.5;
    width: 300px;
}
.email-input input{
    width: 36rem;
    height: 50px;
    text-align: start;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    outline: none;
}
.email-input button{
    position: absolute;
    top: 5px;
    text-align: center;
    background-color:yellow;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 150px;
    right: 10px;
}


 .inner-cont
 {
     height: 600px;
     display: flex;
     justify-content: space-around;
      /* background-color: #F0F0F0 */
   }

   /* contact us */
   .contact-text-box{
       /* width: 100%; */
       text-align: center;
   }
   .contact-img-cont img{
       height: 400px;
       width: 400px;
   }
  
   .icons-and-text{
       display: flex;
       width: 40%;
       flex-direction: column;
       justify-content: center;
      
   }
   .contact-text-box{
       font-size: 2rem;
       margin: 50px;
       font-family: Verdana, Geneva, Tahoma, sans-serif;
   }
   .contact-icons{
        height:400px;    
       display: flex;
       justify-content: space-between;
      

   }
   .svgcon img{
       height: 50px;
       width: 70px;
   }
   .svgcon{
       margin-bottom: 50px;
   }
   .svgcon h5{
       margin-top: 12px;
       font-size: 1.5rem;
   }
   .handy-icons img{
       margin-right: 20px;
   }


   /* footer */

   .footer-cont{
       display: flex;
       justify-content: center;
       align-items: center;
       height: 100px;
       background-color: var(--secondary);
   }
   .footer-text-cont{
        color: var(--light);
       display: flex;
       height: 50px;
       justify-content: center;
       align-items: center;
   }
   .footer-text-cont span{
       color: var(--primary);
   }

   /* starting of media querries */
   /* top header */

   @media (max-width:769px)
   {
    
       marrquee
       {
           font-size: 5px;
       }
       .email-input input 
       {
           height: 3.2rem;
           width: 25rem;
       }
       .email-input button
       {
           width: 100px;
       }
       .protfolio
       {
           width: 150px;
       }
     nav .top .container h6
     {
         font-size: 10px;
           color: white;
       }
     
       .container h1 span{
           font-size: 70px;
           display: block;
       }
       .rahul-pic img{
           position: relative;
           top: 50px;
           right: -50px;
           height: 500px;
           width: 300px;
          
       }
       .box1{
           margin-bottom: 80px;
       }
       .grand-parent h2{
           font-family:Georgia, 'Times New Roman', Times, serif;
           margin-top: 10px;
           font-size: 35px;
       }
       .child img{
           height: 150px;
           width: 150px;
       }
       
       .child:hover{
        transform:scale(1.4);
       }
       .school-img img{
           width: 600px;
           height: 300px;
       }
       .college-img img{
           width: 600px;
           height: 300px;
       }
       .school-img{
           margin-bottom: 30px;
       }
       .college-img{
           margin-bottom: 30px;
       }
       .school-text{
           margin-right: 30px;
        width: 70vh;
       }
       .college-text{
        margin-right: 30px;
           width: 70vh;
       }
       .school-content-cont{
           display: flex;
           align-items: center;
           flex-direction: column;
       }
       .college-content-cont{
           flex-direction: column;
       }

       /* newletter */
       .left-picture img{
           height: 300px;
           width: 300px;
       }
       .right-content h3{
           font-size: 20px;
           margin-bottom: 20px;
       }
       .news-letter-cont{
           height: auto;
       }

       .contact-img-cont img {
         z-index: -1;
         height: 300px;
         width: 300px;
       }

    }
       
@media (max-width:490px){
    
  
    
    .rahul-pic img{
        display: none;
    }
 .protfolio{
     display: none;
 }
 .left-admin-logo-div{
     display: flex;
     justify-content: center;
     align-items: center;
 }
 nav .top .container h6 {
     color: black;
 }
 .about{
     display: block;
 }
   .admin-name{
       font-size: 50px;
       margin-bottom: 20px;
   }
    .banner-cont{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
 .banner-cont p{
     margin-top: 10px;
    font-size: 20px;
 }
 .hero-buttons{
     margin-top: 30px;
 }
    .protfolio{
        width: 90px;
    }
    .hero-buttons{
        text-align: center;
    }
    .skills-cont{
        overflow: auto;
    }
    .box1,.box2{
        text-align: center;

        display: block;
    }
    .box2{
        position: relative;
        top: -70px;
    }
  .last-child{
      margin-bottom: 0;
  }
    .child{
        margin-bottom: 60px;
        display: block;
    }

    .school-img img{
        width: 450px;
        height:350px;
    }
    .college-img img{
        width: 450px;
        height:350px;
    }
   
    .school-text {
        font-size: 30px;
        text-align: left;
        width:120% ;
    }
    .college-text {
        width:120% ;
    }
    .email-input input {
        width: 400px;
    }
    .inner-cont{
        display: block;
    }
    .right-content h3{
        text-align: center;
        font-size:26px ;
    }
    .contact-icons{
        text-align: center;
        display: block;
    }
    .icons-and-text{
        display: none;
    }

}

   